# Generic
# --------------------------
Thumbs.db
Desktop.ini
Icon?
.directory
*.cache
*.old
*.zip
*.phar
*~

# Development files
# --------------------------
app/settings.php
qnd-cli-utils/settings.php
.env

# Dependency folders
# --------------------------
/vendor/

# IDE Project Configurations
# --------------------------
nbproject/
.idea/
.settings/
.project
*.sublime-*

# But Keep these
# --------------------------
!.htaccess
!.gitkeep
