/*
 *  Author : Chabib Nurozak <chabibnurozak@gmail.com>
 */

body {
  background-color: #e9eaed;
}

.aside-search, .card-profile {
  padding: 15px;
  background: #fff;
  border: 1px solid;
  border-bottom: 2px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
}

.aside-search {
  margin-bottom: 20px;
}

.aside-header {
  padding: 10px 0px;
  margin-bottom: 5px;
  font-size: 15px;
}

.aside-label {
  padding: 5px 0px;
  display: block;
  color: #777;
}

[type=text].aside-input, select.aside-input, button.aside-submit {
  width: 100%;
  display: block;
  margin-bottom: 15px !important;
  height: 30px;
  padding: 3px 5px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid rgba(204, 204, 204, 0.52);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

button.aside-submit {
  padding: 3px 10px;
  float: right;
}

.clearfix {
  clear: both;
}

/* Card */
.card-content {
  width: calc(100% - 340px);
  padding-left: 10px;
  float: left;
}

.card-profile {
  padding: 0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
}

.card-profile-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgba(71, 139, 202, 0.82);
  padding: 10px 20px;
}

.card-profile-circle {
  border: 5px solid #478BCA;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 10px;
}

.card-profile-name {
  vertical-align: middle;
  font-size: 20px;
  margin-top: 20px;
  display: inherit;
  color: #fff;
}

.card-profile-subname {
  color: #F7F7F7;
  font-style: italic;
}

.card-profile-footer {
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 20px;
}

.card-profile-action {
  float: right;
  margin-top: -32px;
  color: #ccc;
}

.card-profile-action:hover {
  color: #478BCA;
}

.card-profile-action i.fa {
  font-size: 30px;
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
